.screen-cover {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../images/backgroung-cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 450px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.8);
}

input {
  height: 35px;
  width: 250px;
  line-height: 30px;
  padding: 0 8px;
  margin: 20px 0;
  border-radius: 5px;
}

.submit-btn {
  width: 250px;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 1em;
}

.submit-btn:hover {
  cursor: pointer;
  background: red;
  color: white;
}