.movie {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // height: 45vh;
  // width: 35vw;
  margin: 10px;
}

.movie h2 {
  height: 60px;
}

.card-image {
  height: 350px;
  width: 300px;
  max-width: 250px;
}
